body {
    margin: 0;
    font-family: 'Muli', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    /* background-image: url("image/bg.jpg");   */
     background-color: rgba(255,255,255,1);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-entrance{
    /* The image used */
    /* background-image: url("image/bg.jpg");   */
      background-color:rgb(190, 240, 255); 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 50px ;
}


.bg-cottage{
    /* The image used */
    /* background-image: url("image/bg.jpg");   */
    background-color:rgba(0,31,68,1);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
}

.bg-divider {
    /* The image used */
    /* background-image: url("image/bg.jpg");   */
   
    background: rgba(0,31,68,1);

    /* Full height */
    height: 5%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-gmap{
    height: 50%; 
}

.bg-footer{
    background: rgba(0,31,68,1);
    /* position: relative; */
    text-align: center;
    color:white;
    padding: 5px 0 5px 0; 
}



.room{
     height: 5px !important; 
     /* background: white !important; */
}


.bg-img{
    /* The image used */
    background-image: url("../image/wp.jpg");   
    /* background-color: rgba(0,31,68,1); */
    /* Full height */
    height: 50%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.bg-aboutus {
    /* The image used */
    /* background-image: url("image/bg.jpg");   */
    background-color: rgba(0,31,68,1);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index:1;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5); 
}

.bg-overlap{
    /* The image used */
    /* background-image: url("image/bg.jpg");   */
    background: linear-gradient(to bottom, rgba(0,31,68,0), rgba(0,31,68,1));

    /* Full height */
    height: 30%; 
    z-index: 1;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -30%;
    position: relative;
}


.bg-tinted-image{
    /* The image used */
    /* background-image: url("image/bg.jpg");   */
    background-image: 
    linear-gradient(
            rgba(0,31,68,.75),
            rgba(0,31,68,.70),
            rgba(0,31,68,.65),
            rgba(0,31,68,.60), 
            rgba(0,31,68,.60), 
            rgba(0,31,68,1)
    ),
    url('../image/wp.jpg');
    background-attachment: fixed;
   

    /* Full height */
    height: 125%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bg-accom{
    /* height: 25%;     */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    /* position: relative; */
}

.bg-pool{
    height: 100%;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    position: relative; 
}

.pool-container{
    position:relative;
    height:60%;
    background-color: rgba(0,31,68,1);
}


.attraction{
    display: relative;
    background-color:  rgba(0,31,68,1);
}


.bg-jurassic{
    /* The image used */
    /* background-image: url("image/bg.jpg");   */
    background-image: 
    linear-gradient(
            rgba(0,31,68,1),
            rgba(0,31,68,.70),
            rgba(0,31,68,.65),
            rgba(0,31,68,.60), 
            rgba(0,31,68,.60), 
            rgba(0,31,68,.60)
    ),
    url('../jurassic.jpg');
    /* background-attachment: fixed; */
    /* Full height */
    height: 700px; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-jurassic .detail{
    position: absolute;
    top:15%;
    color: rgba(255,255,255,0);
    width: 275px;
    transition: .5s ease;
    /* background-color: red;  */
    right: 5%
}

.bg-jurassic:hover .detail{
     color: rgba(255,255,255,1);
}

/* 
.bg-jurassic h1{
    font-size: 150px;
    text-align:center;
    font-family: 'Fredoka One', cursive;
}
.bg-jurassic h3{
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
    text-align:center;
    margin-top: -30px; 
}*/
.bg-jurassic p{
    font-size: 25px;    
    text-align: right;        
    margin-left: 20px;
    margin-right: 20px;
}

.bg-zipline{
    /* The image used */
    /* background-image: url("image/bg.jpg");   */
    background-image: 
    linear-gradient(
            rgba(0,31,68,.70),
            rgba(0,31,68,.70),
            rgba(0,31,68,.65),
            rgba(0,31,68,.60), 
            rgba(0,31,68,.60), 
            rgba(0,31,68,.60)
    ),
    url('../zipline.jpg');
     background-attachment: fixed; 
    /* Full height */
    height: 600px; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 20%, 100% 80%, 0% 100%);
    margin-top: -20%;
    position: relative;
    z-index:1;
}

.bg-zipline h1{
    font-size: 100px;
    font-family: 'Bungee', cursive;
    /* text-align:center; */
    margin-top: -30px;
    /* margin-bottom:-50px; */
    transition: .5s ease;
    color: white;
     
}

.bg-zipline .detail{
    position: absolute;
    margin-top: 15%;
    padding-left: 5%;
   
}

.bg-zipline .zprice{
    width: 550px;
}

.bg-zipline .zprice h3{
    transition: 2s ease;
    font-size: 40px;
    color: yellow;
    font-weight:bold;
    text-shadow: 2px 2px 2px rgba(0,0,0,1);
    text-align: right;
    padding: 0 0 -10em 0;
    width: 100%;
    
}
 
.bg-zipline:hover .zprice h3{
    color: white;
}  .bg-zipline:hover  h1{
    color: yellow;
} 

.bg-maxrider{
    /* The image used */
    /* background-image: url("image/bg.jpg");   */
    background-color: rgba(0,31,68,1);
    /* background-attachment: fixed;  */
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
    margin-top: -20%;
    margin-bottom: -20%;
    position: relative;
}

.bg-maxrider .detail{
    /* background-color: red; */
    margin-top: 20%;
    margin-bottom: 10%;
    padding-right: 5%;
    padding-left: 5%;
}

.bg-maxrider .spa{
    /* background-color: lavender; */
}

.bg-maxrider .max{
     /* background-color: green; */
}



.bg-maxrider .detail .detailA{
    background-color: pink;
}

.bg-maxrider .detail .detailA{
    background-color: pink;
}



.bg-tb{
    /* The image used */
    /* background-image: url("image/bg.jpg");   */
    background-image: 
    linear-gradient(
            rgba(0,31,68,.70),
            rgba(0,31,68,.70),
            rgba(0,31,68,.65),
            rgba(0,31,68,.60), 
            rgba(0,31,68,.60), 
            rgba(0,31,68,.60)
    ),
    url('../tb.jpg');
    /* background-attachment: fixed; */
    /* Full height */
    height: 1000px; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:-20%;
}

.img-center{   
        position: absolute;
        top:25%;
        left: 25%;
        width:50%;
}

@media screen and (max-width: 900px) {
    .img-center{   
        position: absolute;
        top:40%;
        left: 0%;
        width:100%;
    }
    .bg-overlap{
        display:none;
    }
}

.media-icon{
    list-style-type: none;
    margin: 0;
    padding: 1.5em;
    overflow: hidden; 
    
}


.media-icon li{
        float: right; 
}


@media screen and (min-width: 900px) {
    
    .ig, .fb , .tt{
        width:75px;
        height:75px;
    }
}


@media screen and (max-width: 900px) {
    
    .ig, .fb , .tt{
        width:50px;
        height:50px;
    }
}

.tt:hover{
     fill:   rgba(4,210,239,1);
}
    
.ig:hover{
     fill:   rgba(255,0,243,1);
}

   
.fb:hover{
     fill:   rgba(3,36,90,1);
    
}

.icon{
    width:  100%;
    height: 100%;
    fill:   white;
}

    
.media-icon li.lastChild{
    float: left; 
    margin: 6px 10px;
    position: fixed;
    z-index: 4;
}

   
.media-icon li.lastChild:hover{
   opacity: .5;
}



/* menubar */
.menubar{
    display: inline-block;
    cursor: pointer;
}  

.change .bar2 {opacity: 0;}


@media screen and (min-width: 900px) {
    
    .bar1, .bar2, .bar3 {
        width: 60px;
        height: 8px;
        background-color: #fff;
        margin: 10px 6px;
        transition: 0.4s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-19px, 16px);
        transform: rotate(-45deg) translate(-19px, 16px);
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
}


@media screen and (max-width: 900px) {
   
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
}

/* sidenav */
    
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
     z-index: 3; 
    top: 0;
    left: 0;
    background-color: #001f44;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: yellow;
}

/* topnav */

.topnav {
  overflow: hidden;
  background-color: rgba(0,31,68,.75);
  z-index: 2;
  position:fixed;
  width: 100%;
  box-shadow: 5px 5px 5px  rgba(0,0,0,.3);
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  background-color: rgba(4,210,239,1);
}

.active {
  background-color: rgba(4,210,239,1);
}

.topnav{
  display: none;
}

@media screen and (max-width: 900px) {
    .topnav{
     display: none;
    }
}
.topnav .main{
     position: relative;
     float: left;
     margin: -25px 0;
}
.topnavLogo{
    position: absolute;
    width: 170px;
    padding-left: 20px;
}

.aboutUs{
    margin: 50px 50px;
    padding: 2em;
    color: #fff;
    font-size: 16px;
    text-indent: 2em;
}

#fbAnimate, #ttAnimate, #igAnimate, #menuAnimate{
    display: none;
}

.HeadTitle{
    margin: 30px 0px;
    padding: 3em;
    color: rgba(0,31,68,1);
    text-align: center;
}


.HeadTitle h1{
    font-family: 'Permanent Marker';
    font-size: 48px;
}

.HeadTitle h3{
   margin-top: 0;
   font-weight: bold;
   font-size: 18px;
}

.title{
    margin-top: 0;
    padding: 1em; 
    position:relative;
}

.title h1{
    border-radius: 25px;
    /* margin-right: auto;  */
    color: rgba(0,31,68,1);
    background-color:rgb(190, 240, 255); 
    width: 350px;
    text-align: center;
    font-size: 24px;
    margin-top: -70px;
    padding: 20px;
}

.here{
    font-weight: bolder;

}
    

.daySwimming h3{
    color: yellow;
    font-weight: bold;
    text-shadow: 2px 2px 2px  rgba(0,0,0,1);
    text-align: center;
    font-size: 48px;
}

#dayContainer:hover h2{
    opacity: 1;
}

#nightContainer:hover h2{
    opacity: 1;
}


h4{
    color: rgba(255, 255, 255);
    text-align: left;
    
    font-size: 16px;
}
h4.card{
    color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: bold;

}

h4.card1{
    color: #fff;
    text-align: left;
    font-size: 16px;
    /* font-style: italic; */
    /* display: none; */
}

h4.card2{
    color: rgb(202, 202, 202);
    text-align: left;
    font-size: 14px;
    /* display: none; */
    font-style: italic;
}
.subtitle{
     font-size: 18px;
     color:  rgba(0,31,68,1); 
     font-weight: bolder;
}

.info{
    color:  rgba(0,31,68,1); 
    font-style: italic;
    font-size: 16px;
}

.daySwimming{
    box-shadow: 10px 10px 0px  rgba(0,0,0,1);
    background-color:  rgba(0,31,68,1); 
    padding: 1em;
    margin: 1em 1em 1em 1em;
    width:300px;
    height: 300px;
    position: relative;  
    margin-left: auto;
    margin-right: auto;
}

.daySwimming:hover{
    box-shadow: 0px 0px 0px  rgba(0,0,0,1);
    -ms-transform: translate(5px,5px); /* IE 9 */
    -webkit-transform: translate(5px,5px); /* Safari */
    transform: translate(5px,5px); /* Standard syntax */
}

.daySwimming .box{
     margin: 2em 2em 2em 2em;
}

.daySwimming hr{
    border: 0;
    background-color: rgba(0,0,0,.2); 
    height: 5px;
}

.title hr{
    border: 0;
    background-color: rgba(0, 0, 0,.2); 
    height: 2px;
    width: 100%;
}

.title h2{ 
    margin-top: .8em;
    font-family: 'Permanent Marker', cursive;
   color:  rgba(0,31,68,1); 
   /* text-shadow: 3px 3px 2px  rgba(0,0,0,1); */
   font-size: 100px;
   text-align: left;
   opacity: .7;
  transition: opacity .7s ease-in-out;
}

/* estimation */
[id^="est"]{ 
    display: none; 
    font-size: 17px;
    position: absolute;
    right: 20px;
    top: 30px;
}

[id^="udButton"]{ 
    display: none;
}

.udButton{
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 20px;
}

.udButton i:hover{
    text-shadow: 3px 3px 2px  rgba(0,0,0,1);
    color: yellow;
}

.udButton i{
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

/* scrolling carousel */

.img-holder::-webkit-scrollbar {
    height: 0;
    width: 0;
   
}
.img-holder{
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;    
    height: 80%;
    position: relative;
    background-color:rgb(262, 265, 208);
    box-shadow: 
    inset 0px 11px 8px -10px #333,
    inset 0px -11px 8px -10px #333; 
}


.img-case{
    /* background-color:blue;  */
    height:100%;
    width:400px;
    flex: 0 0 auto; 
    position: relative;
    /* padding:2em; */
    cursor:pointer;
}



.img-case h1,.img-case p{
  /* white-space: nowrap;  */
  color: white;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.img-case:hover .cont{
    width: 100%;
    height: 100%;
    bottom: 0;
    padding: 5em;
}

.img-case p{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    color:yellow;
}

.img-case .cont{
  position: absolute;
  bottom: 10%;
  right: 0;
  background-color:  rgba(0,31,68,.75); 
  color:#fff;
  overflow: hidden;
  width: 65%;
  height: 15%;
  transition: .5s ease;
}

.arrowLeft, .arrowRight{
    position: absolute;
    top:50%;
    margin-top: -50px;
    cursor: pointer;
    text-shadow: 3px 3px 2px  rgba(0,0,0,1);
}

.arrowLeft{
    left:50px;
    z-index: 2;
    color: rgb(252, 255, 198);
}

.arrowLeft:hover{
    color: yellow;
}

.arrowRight{
    right: 50px;
    z-index: 2;
    color: rgb(252, 255, 198);
}

.arrowRight:hover{
    color: yellow;    
}

.x-scroll{
    position: relative;
    padding-bottom: 20px;
}

/* .roomCottages{
    color:rgb(252, 255, 198);
    text-shadow: 2px 2px 2px  rgba(0,0,0,1); 
    z-index: 2;
    position: absolute;  
    font-weight: bolder;
    right: 45%;
    bottom: 20px;
} */

.headline h1, .back h1{
    color: #fff;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    transition: .75s ease;
}

.headline .rprice{
    color: #fff;
    right:40%;
    top: 50%;
    display: none;
    text-align: center;
}

.rprice{
    margin-top: -10px;
}

.headline{
    width:100%;
    height: 150px;
    padding: 18px;
    /* border: 10px solid #fff; */
    text-shadow: 2px 2px 2px  rgba(0,0,0,1);   
    /* box-shadow: 2px 2px 2px  rgba(0,0,0,1);    */
}

.bg-accom:hover .rprice{
   display: block;
}

.bg-accom:hover .headline h1{
    color:yellow;
}

.back{
    display:none; 
    text-shadow: 2px 2px 2px  rgba(0,0,0,1);  
    padding: 1em; 
}

.back h1{
    color: yellow;
}
.back h3{
    color:#fff; 
    text-align: center;
    margin-top: -5px;
}

.back hr{
    border: 0;
    background-color: rgba(255,255,255,1); 
    height: 5px;
    box-shadow: 2px 2px 2px  rgba(0,0,0,1); 
    margin-bottom: 35px;
}

.room-definition{
    padding: 1em 1em 0 1em;
}

.cross{
    position: absolute;
    top: 10px;
    right: 10px;
    color:#fff;
    z-index:2;
}

[id^="cross_"]{
    display: none;
}

.rm{
    width:100%;
    height:100%;
}

.cross:hover {
    color: #bbb;
    text-shadow: 0 0 0 rgba(0,0,0,1);
}

.room-definition .ds{
    padding: 0 0 0 0;
    position: absolute;
    bottom: -10px;
    right: 10px;
}

.mySlidesRoom1 {display:none;}

.relative{
    position: relative;
}

.roomPictures{
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 5;  
}

.roomPictures img{
    position: relative;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5); 
}
.roomPictures img:hover{
    z-index: 2;
}

/* modal image viewer */

/* The Modal (background) */
.modalIV {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 32; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-contentIV {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#captionIV {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-contentIV, #captionIV {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.closeIV {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closeIV:hover,
.closeIV:focus				 {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-contentIV {
        width: 100%;
    }
}

/* image slides */
.pools{
    position: relative;
}

.poolArrow{
    color: rgba(255,255,255,1) !important;
    /* text-shadow: 0px 0px 0px 4px rgba(0,0,0,1) !important; */
}

.poolArrow:hover{
    color: rgba(255,255,255,.75) !important;
    /* text-shadow: 0 !important; */
}

/* Caption text */
.bg-pool .text {
  color: #f2f2f2;
  font-size: 60px;
  padding: 8px 12px;
  position: absolute;
  bottom: 40%;
  width: 100%;
  text-align: center;
  font-family: 'Permanent Marker', cursive;   
  text-shadow: 2px 2px 2px rgba(0,0,0,1);  
}

/* Number text (1/3 etc) */
.numbertext {
  color: rgba(255,255,255,1);
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.bg-pool div{
    display: none;
}

.bg-pool:hover div{
    display: block;
}

  
.network{
    /* background-color: red; */
    text-align: center;
   
}

.ntwrk{
    padding: 20px 0 20px 0;
    width: 300px;
     text-align: center;
    /* background-color: blue; */
    display: inline-block;
    border-style: solid; 
    border-width: 3px;
    /* border-radius: 10%;   */
    /* border-color: rgba(0,31,68,1); */
    margin: 20px;
    /* box-shadow: 5px 5px 5px rgba(0,0,0,.5);  */
}

.ntwrk h1{
    font-weight: bold;
}
.ntwrk p{
    font-size: 20px;
}


.glb:hover{
    background-color: #0f32ab;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);  
    border-style: none !important;
    color: white;
}


.sun:hover{
    background-color: #ea902a;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);  
    border-style: none !important;
    color: white;
}

.smrt:hover{
    background-color: #3a9c44;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);  
    border-style: none !important;
    color: white;
}

.bl:hover{
    background-color: black;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);  
    border-style: none !important;
    color: white;
}

.ml:hover{
    background-color: #999;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);  
    border-style: none !important;
    color: white;
}

.socMed{
    position: relative;
    background-color: red;
}

.lctn{
  text-align: right; 
    /* border-style: solid;
    border-width: 0 3px 0 0; */
}

.www{
    text-align: left;
    border-style: solid; 
    border-width: 0 0 0 3px;
}

.location{
    margin: 10px 0 50px 0;
}

#googleMap, #downloadMap, .waze, #facebook, #instagram, #twitter{
    cursor: pointer;
}

#googleMap:hover{
    color: red;
}

#googleMap:hover #g{
    color: blue !important;
}

#googleMap:hover #oo{
    color: yellow !important;
}

#googleMap:hover #l{
    color: green !important;
}

#googleMap:hover #gg{
    color: blue !important;
}
#googleMap:hover #Map{
    color: grey !important;
}

.waze:hover{
    color: #5bd4ef;
}

#downloadMap:hover{
    color:red;
}

#email:hover{
    color:#7d2399;
}

#facebook:hover{
    color:#4267b2;
}

#instagram:hover{
    color:#f20cff;
}

#twitter:hover{
    color:#0cbaff;
}
